<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SimsNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <SimsNet.Properties.Settings>
            <setting name="GamePath" serializeAs="String">
                <value>TSOClient/game</value>
            </setting>
            <setting name="DebugLot" serializeAs="String">
                <value>empty_lot.xml</value>
            </setting>
        </SimsNet.Properties.Settings>
    </userSettings>
</configuration>
