<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.WindowsGL" version="3.6.0.1625" targetFramework="net4" />
  <package id="SharpDX.D3DCompiler" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.Direct2D1" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.Direct3D11.Effects" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.Direct3D9" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.MediaFoundation" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.RawInput" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.XAudio2" version="4.0.1" targetFramework="net4" />
  <package id="SharpDX.XInput" version="4.0.1" targetFramework="net4" />
  <package id="Ninject" version="3.3.6" targetFramework="net4" />
</packages>

